main {
    padding: 4vw;
}

#formSection {
    width: 80vw;
    padding: 20px 2vw;
    border-radius: 15px;
    background-color: rgb(223, 223, 223);
}


.error {
    position: fixed;
    left: 45%;
    width: fit-content;
    padding: 5px 10px;
    border: solid 1px red;
    border-radius: 5px;
    background-color: rgba(255, 91, 91, 0.8);
}

